
<table class="table table-striped">
<tr>
<th>Tweet UrL</th>
<th>Tweet</th>
<th>Date</th>
</tr>
<% @tweets.each do |t| %>
<% if !t.urls.nil? %>
<% t.urls.each do |u| %>
<tr>
<td><%= u.url %></td>
<td><%= t.text %></td>
<td><%= t.created_at%></td>
</tr>
<%end%>
<%end%>
<% end %>
</table>
<br/>
<center>
<p>Max tweets by <%= @max_user %> Tweets : <%= @max %></p></center>