<table border="1">
<tr>
<th>Tweet UrL</th>
<th>Tweet</th>
<th>Date</th>
<th>User</th>
<% @tweets.each do |t| %>
<% if !t.urls.nil? %>
<% t.urls.each do |u| %>
<tr>
<td><%= u.url %></td>
<td><%= t.text %></td>
<td><%= t.created_at%></td>
<td><%= t.user.name%></td>
</tr>
<%end%>
<%end%>
<% end %>
</table>

<p>Max tweets by <%= @max_user %> Tweets : <%= @max %>