<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    :application %>
  <%= stylesheet_link_tag    :login %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<% if current_user %>
<div class="container">
<%= image_tag @user.profile_image, :class => "img-circle" %>
<p>Welcome <%= current_user.name %></p>
</div>
<% end %>
<%= yield %>
</body>
</html>
